@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-size: 14px;
    overflow: auto;
    background: linear-gradient(0deg, rgb(163, 163, 163) 0%, rgba(0,143,188,1) 30%, rgb(177, 0, 0) 100%);
    font-family: 'Outfit', sans-serif;
}

.bg-padrao {
    background-image: url('../img/brushed.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.container {
  max-width: 98%;
  margin: 0 auto;
}

.border-l {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.border-r {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.messages-error {
  background-color: $color-danger;
  color: #fff;
  font-weight: bold;
  margin: 0;
  margin-top: 4px;
  padding: 2px 4px;
}

.page {
  margin: 47px auto 0px;
  padding: 5px;
  width: 97vw;
  height: calc(100vh - 65px);
  border-radius: 5px;
  background: transparent;
  box-sizing: content-box;
  position: relative;
  transition: all 0.5s;
  overflow: auto;
}
.page-top,
.page-search {
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  background: $color-secundary;
}

.componenteform {
  padding: 5px;
}

/** Layout Cards**/
.card,
.card-radius,
.card-home,
.card-transparente,
.card-login {
  background-color: whitesmoke;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-style: inset;
  border-radius: 5px;
  box-shadow: $color-shadow;
}

.card-radius {
  border-radius: 10px;
}

.card-home {
  margin-top: 150px;
}

.card-flat {
  background-color: #ffffff;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-style: outset;
  border-radius: 5px;
  box-shadow: $color-box-shadow-transparent;
}

.card-transparente,
.card-login {
  background: $color-transparent;
}

.card-dash {
  margin-left: 20px;
  margin-right: 20px;
}

.card-dash:hover {
  box-shadow: $color-shadow;
  background-color: lightblue;
}

.sombra,
.sombra-btn,
.toolbar-btn {
  box-shadow: $color-shadow;
}

.sombra-btn:hover {
  box-shadow: $color-shadow;
}

.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11,
.col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7,
.col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3,
.col-xl-2, .col-xl-1, .col-lg, .col-lg-auto,
.col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9,
.col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5,
.col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1,
.col-md, .col-md-auto, .col-md-12, .col-md-11,
.col-md-10, .col-md-9, .col-md-8, .col-md-7,
.col-md-6, .col-md-5, .col-md-4, .col-md-3,
.col-md-2, .col-md-1, .col-sm, .col-sm-auto,
.col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9,
.col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5,
.col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1,
.col, .col-auto, .col-12, .col-11, .col-10,
.col-9, .col-8, .col-7, .col-6, .col-5, .col-4,
.col-3, .col-2, .col-1 {
  padding-right: 9px;
  padding-left: 9px;
}
