<div [ngClass]="getStyle()">
  <nav class="navbar navbar-default" id="main-navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">
          <span class="menu-bar">

          </span>
        </div>
      </div>

      <div class="text-center" style="margin-top: -10px;">
        <span class="title" (click)="goToHome()">
          <i class="fas fa-shopping-basket"></i>
          {{title}}
        </span>
      </div>

      <div>
      </div>
    </div>
  </nav>
</div>
