td {
  text-align: center;
  font-weight: bold;
  color: rgb(38, 38, 241);
}

th,
tfoot,
.trfoot {
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #07889b;
}

.trfoot{
font-weight: bolder;
}

.table-message-empty {
background-color: red;
color: white;
font-weight: bold;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.pageble {
display: flex;
width: 100%;
justify-content: center;
align-items: center;
}

.pageNumber{
font-size: 20px;
font-weight: bold;
}

.scrolling {
overflow: auto;
max-height: 370px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
      display: block;
  }

  /* esconder cabeçalho*/
  thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
  }
  tr {
      border: 1px solid #ccc;
      text-align: justify;
  }
  td {
      border: none;
      border-bottom: 1px solid #eee;
      text-align: start;
      position: relative;
      padding-left: 10px;
  }
  td:before {
      font-weight: bold;
      padding-right: 10px;
      font-size: 12px;
      content: " " attr(data-label) ": ";
  }
}
