.toolbar {
  text-shadow: 0 -1px 0 rgba(252, 252, 252, 0.904);
  background: whitesmoke;
  border: 2px solid darkgrey;
  border-radius: 10px;
  padding: 4px 8px;
  margin-top: 5px;
  margin-bottom: -15px;
}
