.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.searchLabel {
  font-weight: bold;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
