<div class="modal fade show" id="myModal" role="dialog" style="display: block">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content card-transparente" style="border: none;">
          <div class="modal-body centralize" style="margin-bottom: 0;">
              <div class="spinner">
              </div>
              <div class="justify-content-center">
                  <strong [ngStyle]="style">{{data.message}}</strong>
              </div>
          </div>
      </div>
  </div>
</div>
