<div class="col-sm-2">
  <label for="qtd">Item por Página:</label>
  <select class="border-l border-r" id="qtd" [(ngModel)]="count" (change)="getList()">
    <option *ngFor="let opt of counts" [ngValue]="opt">{{ opt }}</option>
  </select>
</div>
<div class="scrolling">
  <table class="table table-striped table-bordered table-sm" *ngIf="entity !== undefined">
    <thead>
      <tr>
        <th *ngFor="let header of headers">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of entity">
        <td *ngFor="let field of fields" [attr.data-label]=field.label>{{
          (field.pipe) ? (item[field.name] | customPipe : field.pipe) :
          (field.sub) ? (item[field.name][field.sub]) :
          (field.currency) ? (item[field.name] | currency: 'BRL') : (item[field.name])
          }}</td>

        <td>
          <a class="componenteform" *ngFor="let button of tableOptions.buttons">
            <button type="button" class="btn btn-{{button.color}} btn-pdr fa fa-{{button.icon || 'plus'}} sombra-btn"
              title="{{button.title}}" data-placement="bottom" (click)="button.eventHandler(item)">
            </button>
          </a>
        </td>
      </tr>
      <tr>
        <td [attr.colspan]="headers.length" *ngIf="entity.length < 1" class="table-message-empty">
          {{tableOptions.emptyMessage}}</td>
      </tr>
    </tbody>
  </table>
</div>
<toolbar-base>
  <div itens class="pageble">
    <button class="btn btn-primary" (click)="prevPage()" [disabled]="page === 1">
      <i class="far fa-arrow-alt-circle-left"></i>
      Anterior
    </button>
    <button class="btn btn-defalt pageNumber">{{page}}</button>
    <button class="btn btn-danger" (click)="nextPage()" [disabled]="lastObject === undefined">
      Próximo
      <i class="far fa-arrow-alt-circle-right"></i>
    </button>
  </div>
</toolbar-base>
